<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.submissionMapper">
<!--    <resultMap id="SubmissionMap"  type="submissionPojo">-->
<!--        <result property="email" javaType="String" column="email"/>-->
<!--        <result property="pid" javaType="String" column="pid"/>-->
<!--        <result property="submitTime" javaType="java.util.Date" jdbcType="TIMESTAMP" column="submitTIme"/>-->
<!--        <result property="state" javaType="String" column="state"/>-->
<!--        <result property="normalSubmit" javaType="Integer" column="normalSubmit"/>-->
<!--        <result property="timeUsed" javaType="Integer" column="timeUser"/>-->
<!--        <result property="memoryUsed" javaType="Integer" column="memoryUser"/>-->
<!--        <result property="info" javaType="String" column="info"/>-->
<!--    </resultMap>-->
    <insert id="addSubmission" parameterType="pojo.submissionPojo">
        insert into ljkz.submissions (email, pid, submitTime, state, normalSubmit, timeUsed, memoryUsed, info) values
        (#{email}, #{pid}, #{submitTime}, #{state}, #{normalSubmit}, #{timeUsed}, #{memoryUsed}, #{info});
    </insert>
    <update id="updateSubmission" parameterType="pojo.submissionPojo">
        UPDATE ljkz.submissions
        <set>
            <if test="state != null and state != ''">state=#{state},</if>
            <if test="timeUsed != null and timeUsed!=''">timeUsed=#{timeUsed},</if>
            <if test="memoryUsed != null and timeUsed=''">memoryUsed=#{memoryUsed},</if>
            <if test="info != null and info = ''">info=#{info},</if>
        </set>
        WHERE email=#{email} and pid=#{pid} and submitTime=#{submitTime};
    </update>
    <update id="addAC" parameterType="String">
        update ljkz.rank set ac = ac + 1 where email=#{email} and cid = #{cid}
    </update>
</mapper>